.ciuname{
    font-size:smaller ;
  margin-left: 18px;
}

.logo{
    margin-left: 28px;
}

body{
    width: initial;
    height: initial ;
}

*{
    font-family: 'Quicksand', sans-serif;
    color:  rgb(34, 33, 33);
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
}


.header{
    box-sizing: border-box;
    top: 0;right: 0;left: 0;
    background-color:#f0f0f0;
    font-size: 18px;
    height: 76px;
    align-items: center;
    top:40px;
    display: flex;
    justify-content: space-between;
}

.divheader{
    font-family: 'Brush Script MT', cursive;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    word-spacing: 40px;  
    padding-bottom: 50px;
    font-size: 20px;
    font-weight:lighter;
    font-size: 1.5rem;
    margin-right: 600px;
    margin-top: 40px;
}

.divheader :hover{
    text-decoration-line: underline;
    text-shadow: 20px;
    color: rgb(137, 135, 135);
}





*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Josefin Sans', sans-serif;
}

body{
    background-image: url("1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 350px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 4px 4px 2px rgba(254,236,164,1); 
}

.wrapper h2{
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #332902;
}

.wrapper .input_field{
  margin-bottom: 10px;
}

.wrapper .input_field input[type="text"],
.wrapper textarea{
  border: 1px solid #e0e0e0;
  width: 100%;
  padding: 10px;
}

.wrapper textarea{
  resize: none;
  height: 80px;
}

.wrapper .btn input[type="submit"]{
  border: 0px;
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  width: 100%;
  background: #e9e8e4;
  color: #332902;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
}

#error_message{
  margin-bottom: 20px;
  background: #fbadb0;
  padding: 0px;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}